h1 {
  color: red;
}
.container-acordion {
  border: none;
  min-width: 30%;
}
.linkCategorias {
  text-decoration: none;
  list-style: none;
}
.lista-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lista-accordion li {
  color: #333;
}
