.container-selector{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 7px;
    margin: 15px 100px;
    box-shadow: 1px 2px 2px rgb(187, 182, 182) ;
    background-color: white;
    

}
.container-logoSelector{
    display: flex;
    gap: 30px;
    align-items: center;
}
.container-selector-Selector{
    display: flex;
    flex-direction: column;
}
.span-selector{
    width: 10px;
    height: 70px;
    background-color: purple;
    border-radius: 10px;
}
.container-precioFinal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.precioFinal{
    margin-right: 20px;
    font-size: 35px;
    font-weight: 400;
}
.total{
    font-size: 30px;
    font-weight: 400;
}