.container-tarjetaGrid{
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 20px;
    justify-content: center;
    max-width: 1250px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container-imagenSecundaria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    
}
.contain-imagenGrid{
    width: 100%;
    display: flex;
    justify-content: center;
}