.container-principal-imagenesGrid{
    display: flex;
    justify-content: center;
    margin: 60px;
}
.container-imagenPrincipal{
    width: 400px;
    height: 410px;
    background-color: white;
    border-radius: 7px;    
}
.container-imagenPrincipal img{
    height: 100%;
    width: 100%;
}
.container-cajasFlex{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}
.cajasFlex{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
    transition: all .3s;
}
.cajasFlex:hover{
    box-shadow: 1px 2px 10px rgb(187, 182, 182) ;   


}
.cajasFlex img{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.subtitulo-imagenPrincipal{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo-imagenPrincipal{
    color: black;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 15px;
    
}