.container-imagenesGrid{
    width: 1300px;
    margin: 100px;
    display: flex;
    gap: 15px;
}
.images-caja{
    width: 200px;
    height: 200px;
    background-color: white;
    cursor: pointer;
    background-image: url("https://res.cloudinary.com/dcf9eqqgt/image/upload/v1688403760/E-COMERCE%20CODER/compragamer_Imganen_general_36800_Notebook_Gamer_Thunderobot_911_AIR_FHD_15.6__Core_I5_12450H_16GB_512GB_SSD_NVMe_RTX_3050TI_W11_Pro_144Hz_ea0729a8-med_nakf3f.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.image-principal{
    width: 450px;
    height: 100%;
}
.container-image-caja{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}