

.tarjetaProductosFlex{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: center;
}

.tarjetaOfertaFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
}
.probando{
    border: 1px solid red;
    width: 1300px;
    display: flex;
    flex-direction: column;
    
}
.titulo-sectionHome{
    border: 1px solid red;
    width: 1200px;
    position: relative;
    left: 110px;
}
.container-TarjetaSectionHome{
    display: flex;
    flex-direction: column;
}

.container-primerosProductos{
    margin: 20px;
}
.tituloTarjetaProductos{
    font-size: 20px;
    color: black;
    text-align: center;
    padding-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.esqueleto-tarjetaHome{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-bottom: 40px;
}
.esqueleto-text{
    display: flex;
    margin-left: 90px;
    margin-bottom: 10px;

}
.link-tarjetaOfertas{
    text-decoration: none;
}