.container-box{
    width: 100%;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    margin-top: 15px;
    font-weight: 400;
    border: 5px solid #fd611a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo-box{
    font-size: 25px;
    color: rgb(43, 42, 42);
    font-weight: 500;
}
.texto-box{
    font-size: 18px;
    font-weight: 300;
}
.container-botonBox{
    margin-top: 15px;
}