.container-box {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  margin-top: 15px;
  font-weight: 400;
  border: 5px solid #fd611a;
  font-family:"Nunito";
}
.titulo-box {
  font-size: 25px;
  color: rgb(43, 42, 42);
  font-weight: 500;
  font-family:"Nunito";
  letter-spacing: 2px;
  font-size: 30px;

}
.texto-box {
  font-size: 18px;
  font-weight: 300;
  font-family:"Nunito";

}
.container-botonBox {
  margin-top: 15px;
  font-family:"Nunito";

}
