.container-TarjetaOfertas{
    display: flex;
    background-color: white;
    align-items: center;
    width: 650px;
    height: 280px;
    cursor: pointer;
    justify-content: center;
}
.container-TarjetaOfertas:hover{
    box-shadow: 1px 2px 10px #837e7e80 ;

}
.container-info{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #4b4b4b;
}
.image{
    width: 180px;
    padding-right: 30px;
}


.tarjetaOfertas-producto{
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 400;
}
.titulo-tarjetaOfertas{
    font-size: 30px;
}
.boton-tarjetaIOfertas{
    width: auto;
    
}