.container-tarjetaSectionProductos{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    gap: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.image-tarjeta-productos{
    width: 170px;
    height: 150px;
    margin-left: 30px;
   
}
.text-tarjetaProductos{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.767);
    text-decoration: none;    
}
.price-tarjetaProductos{
    font-size: 25px;
}

.container-info{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
