.container-tarjetaFormaPago{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: "Nunito";
    letter-spacing: 1px;
}
.container-icon-tarjetaFormaPago{
    border: 1px solid rgb(210, 202, 202);
    border-radius: 30px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-promociones{
    color:blue;
    font-weight:200;
    cursor:pointer;
    font-size: 12px;
    font-family: "Nunito";
    letter-spacing: 2px;

}
.texto-tarjeta{
    color: black;
}
.container-icon-tarjetaFormaPago img {
    width: 30px;
    height: 30px;
}