.container-tarjetaDetalle{
    display: flex;
    padding: 30px;
    color: rgba(0, 0, 0, 0.849);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;

}
.container-imagenes-tarjetaDetalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.container-imagenes-carrusel{
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.image-principal{
    width: 500px;
}
.image-carrusel{
    width: 170px;
    padding: 5px;
    border: 2px solid white;
    margin-top: 30px;

}
.image-carrusel:hover{
    border: 2px solid #fd611a;
    
}
.container-imagenes-carrusel{
    display: flex;
}
.container-info-tarjetaDetalle{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.price{
    font-size: 50px;
}
.titulo-tarjetaDetalle{
    font-size: 35px;
}

.cuotas{
    color: rgb(19, 177, 19);
}
 ul li{
    list-style: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .titulo-tarjetaDetalle{
    color: #000000cc;
    font-weight: 400;
 }

 .container-caracteristicasBotones{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
.contadorBoton{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.container-genereral-sectionDetalles{
    display: flex;
    flex-direction: column;
    border: 10px solid red;
}
.container-tarjetas-sectionDetalles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    