
.container-ayuda{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-ayuda-titulo{
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo-ayuda{
    font-size: 30px;
    color: rgb(43, 42, 42);
    font-weight: 400;
}

.titulo-box{
    color: red;

}