.container-ayuda{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-ayuda-titulo{
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo-ayuda{
    font-size: 30px;
    color: black;
    font-weight: 400;
}



.container-formulario-ayuda{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 7px;
}

.inputText-ayuda input{
    width: 100%;
    height: 100px;
    font-size: 16px; 
    margin: 10px;
    
}
.inputText-ayuda input::placeholder{
  color: rgb(71, 68, 68);
}
.boton-formularioAyuda{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.titulo-formulario-ayuda h1{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inputQuestion {
    text-align: left;
    padding: 10px; /* Ajusta el padding según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    vertical-align: top; /* Esto alineará el contenido del input en la parte superior */
    border: none;
  }
  
  .container-inputText{
    border: 1px solid red;
    border-radius: 4px;
    padding: 20px;
  }
