.container-ayuda {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family:"Nunito";
  letter-spacing: 2px;
}
.container-ayuda-titulo {
  display: flex;
  justify-content: space-between;
  font-family:"Nunito";

}
.titulo-ayuda {
  font-size: 30px;
  color: rgb(43, 42, 42);
  font-weight: 400;
}

.titulo-box {
  color: red;
}
