.container-contadorBoton{
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 5px;
    font-size: 8px;
    color: rgb(97, 93, 93);
    align-items: center;

}
.container-agregandoProductoCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones{
    border: none;
    font-size: 35px;
    color: rgba(16, 17, 17, 0.719);
    cursor: pointer;
    background-color: white;    
}
.container-agregandoProductoCarrito{
    
}
.pantalla{
    color: #333333c5;
}