.container-contadorBoton{
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 5px;
    font-size: 8px;
    color: rgb(97, 93, 93);
    align-items: center;

}
.botones{
    border: none;
    font-size: 35px;
    color: rgba(94, 112, 112, 0.719);
    cursor: pointer;
    background-color: white;    
}
.container-agregandoProductoCarrito{
    display: flex;
    gap: 20px;
}