.container-contadorBoton{
    display: flex;
    width: 120px;
    justify-content: space-between;
    padding: 5px;
    font-size: 8px;
    color: rgb(97, 93, 93);
    align-items: center;
    height: 35px;

}
.container-agregandoProductoCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones{
    border: none;
    font-size: 35px;
    color: rgba(16, 17, 17, 0.719);
    cursor: pointer;
    background-color: white;    
}

.pantalla{
    color: #202020c5;
}
.maximoAlcanzado{
    color: white;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}