.card-container {
    width: 220px;
    height: 340px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(22, 20, 20, 0.2);
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
    
  }
  .image-animada{
    width: 230px;
    padding: 10px;  
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(105%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 27px;
    font-weight: 700;
    color: white;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateX(20%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  
  .front-content-price{
    display: flex;
    font-size: 14px;
    gap: 10px;
    align-items: center;
    
  }
  .front-content-envio{
    font-size: 15px;
    color: rgb(59, 185, 59);
    position: relative;
    right: 45px;


  }
  .front-content-dcto{
    color: rgb(59, 185, 59);
    font-size: 15px;
    position: relative;
  }
  .titulo-tarjeta-productos{
    color: black;
    text-decoration: none;
    font-size: 22px;
    
  }
  .container-tarjeta-link{
    text-decoration: none;
  }
  .li-caracteristicas{
    font-size: 16px;
    font-weight: 600;
    text-indent: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
