.container-botonDetalle {
  color: white;
  background-color: #fd611a;
  max-width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Nunito";
  letter-spacing: 2px;
}
.container-botonDetalle:hover {
  background-color: #d14e11;
}
